body {
    margin: auto;
  width: 1024px;
  background-color: rgb(189, 207, 224);
}
img {
    width: 100px;
    border: 1px solid gray;
}
figcaption {
    font-size: small;
    font-style: italic;
}
